@import 'vars';
@import 'global';

.header__inner
{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    font-weight: 400;
    color: $text;
    font-size: 15px;
    line-height: 24px;
}

.header__text
{
    margin-left: auto ;
    margin-right: 50px;

    span
    {
        color: $red;
    }

    a
    {
        text-decoration: none;
        color: $text;
    }
}

.header__box
{
    display: flex;
    flex-direction: row;

    .header__btn
    {
    width: 73px;
    padding: 4px 0 4px 0px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    background-color: $green;
    }

    .header__btn-login
    {
        background-color: $green;
    }

    .header__btn-register
    {
        background-color: $red;
        margin-left: 7px;
    }
}

.menu
{
    
    background-color: $darkblue;

    .menu__inner
    {
        display: flex;
        align-items: center;
        height: 60px;
    }

    .menu__list
    {

        li
        {
            display: inline-block;
            &+li{
                margin-left: 30px;
            }
        }
        a
        {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        }
    }
}

.search
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;

    .search__inner
    {
        padding: 157px 0 100px;
        text-align: center;

        .search-title
        {
            font-size: 48px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 700;
            margin-bottom: 41px;
        }

        .search-text
        {
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 500;
            margin-bottom: 41px;
        }

        .search-form
        {
            max-width: 671px;
            position: relative;
            margin: 0 auto;

            input
            {
                display: block;
                width: 100%;
                height: 57px;
                border-radius: 4px;
                border: none;
                filter: drop-shadow(0px 1px 5px rgba(124,178,64,0.75));
                font-size: 14px;
                letter-spacing: 1px;
                outline: none;
                padding-left: 26px;
                padding-right: 20px;
                
                &::placeholder
                {
                    color: $text;
                    font-weight: 500;
                    line-height: 30px;
                }
            }

            button
            {
                position: absolute;
                border: none;
                background-color: transparent;
                right: 20px;
                top: 17px;
            }
        }
    }
}

.products
{
    padding: 122px 0 112px;
    background-color: $grey;
    margin-bottom: 122px;

    .products__inner-btn
    {
        text-align: center;
        margin-bottom: 59px;
        font-size: 14px;
        color: $darkblue;
        font-weight: 500;

        button
        {
            padding: 14px 22px 12px 21px;
            border: none;
            background-color: #fff;
            color: $darkblue;
            cursor: pointer;

            & + button 
            {
                margin-left: 5px;
            }

            &.mixitup-control-active
            {
                color: #fff;
                background-color: $red;
            }
        }
    }
    .products__inner-box
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 77px;

        .product__item
    {
        max-width: 442px;
        width: 100%;
        background-color: #fff;
        filter: drop-shadow(0px 1px 1px rgba(205,214,222,0.75));
        margin-bottom: 32px;
        

        &-img
        {
            min-height: 250px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size: cover;
        }
        &-content
        {
            padding: 29px 31px 0px 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 88px;
            border-bottom: 1px solid #e7ecf2;

            .product__item-name
            {
                max-width: 310px;

                .product__item-name__title
                {
                display: block;
                font-size: 18px;
                color: $darkblue;
                font-weight: 500;

                }

                .product__item-name-category
                {
                    display: block;
                    color: $green;
                    font-size: 14px;
                    line-height: 60px;
                    font-weight: 500;
                }
            }

            .product__item-price
            {
                font-size: 20px;
                line-height: 60px;
                color: $darkblue;
                font-weight: 700;  
            }
        }

        &-info
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 68px;
            padding: 10px 30px;

            &-author
            {
                display: flex;
                align-items: center;

                .avatar
                {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 60px;
                    color: #546e7a;
                    font-weight: 500;
                }

                span
                {   
                    display: inline-block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin-right: 12px;
                }
            }

            &-rate
            {
                font-size: 12px;
                line-height: 60px;
                color: #b0bec5;
                font-weight: 400;

                span
                {
                    color: $darkblue;
                }

                img
                {
                    width: 68px;
                    height: 12px;
                    margin-right: 13px;
                }
            }
        }
    }
    }
    
    .products__bottom-btn
    {
        text-align: center;

        button
        {
            margin: 0px 5px;
            width: 164px;
            height: 53px;
            filter: drop-shadow(0px 1px 1.5px rgba(204,216,228,0.75));
            border: none;
            background-color: #fff;
            font-size: 16px;
            font-weight: 400;
            color: $darkblue;
            cursor: pointer;
        }
    }
}

.product-slider
{
    margin-bottom: 120px;

    .products__inner-box
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .product__item
    {
        max-width: 442px;
        width: 100%;
        background-color: #fff;
        filter: drop-shadow(0px 1px 1px rgba(205,214,222,0.75));
        border-bottom: 1px solid rgba(205,214,222,0.75);
        

        &-img
        {
            min-height: 250px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size: cover;
        }
        &-content
        {
            padding: 29px 31px 0px 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 88px;
            border-bottom: 1px solid #e7ecf2;

            .product__item-name
            {
                max-width: 310px;

                .product__item-name__title
                {
                display: block;
                font-size: 18px;
                color: $darkblue;
                font-weight: 500;

                }

                .product__item-name-category
                {
                    display: block;
                    color: $green;
                    font-size: 14px;
                    line-height: 60px;
                    font-weight: 500;
                }
            }

            .product__item-price
            {
                font-size: 20px;
                line-height: 60px;
                color: $darkblue;
                font-weight: 700;  
            }
        }

        &-info
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 68px;
            padding: 10px 30px;

            &-author
            {
                display: flex;
                align-items: center;

                .avatar
                {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 60px;
                    color: #546e7a;
                    font-weight: 500;
                }

                span
                {   
                    display: inline-block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin-right: 12px;
                }
            }

            &-rate
            {
                font-size: 12px;
                line-height: 60px;
                color: #b0bec5;
                font-weight: 400;

                span
                {
                    color: $darkblue;
                }

                img
                {
                    display: inline-block;
                    width: 68px;
                    height: 12px;
                    margin-right: 13px;
                }
            }
        }
    }
    }

    .slick-dots
    {

        margin: 0 auto;
        margin-top: 66px;
        
        li
        {
            display: inline-block;
            margin: 0px 3px;

            &.slick-active
            {
                button
                {
                    background-color: $green;
                }   
            }

            button
            {
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background-color: #e8e8e8;
                border: none;
                font-size: 0;
                cursor: pointer;
            }
        }
    }
}

.advantages
{
    background-color: $darkblue;
    padding: 125px 0px 118px;    

    &-title
    {
        color: #fff;
        margin-bottom: 80px;
    }

    &__inner
    {
        display: flex;
        justify-content: space-between;
        align-items: center; 
           

        .advantages-item
        {
            text-align: center;

            &-item
            {
                width: 116px;
                height: 116px;
                margin: 0 auto;
                margin-bottom: 32px;
            }

            &-text
            {
                font-size: 15px;
                line-height: 24px;
                color: #b0bec5;
                font-weight: 400;
                max-width: 320px;
            }

            &-title
            {
                color: #8bc34a;
            }
        }
    }
}

.author
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 761px;
    display: flex;
    justify-content: center;
    align-items: center;


    &-box
    {
        max-width: 654px;
        width: 100%;
        min-height: 217px;
        background-color: #8bc34a;
        display: flex;
        justify-content: center;
        align-items: center;

        &-title
        {
        max-width: 259px;
        font-size: 30px;
        line-height: 36px;
        color: #ffffff;
        font-weight: 400;

        span
        {
            font-weight: 700;
        }
        }

        &-link
        {
            width: 226px;
            height: 64px;
            background-color: #fff;
            text-align: center;
            margin-left: 48px;
            padding: 25px 43px ;
            #author-box-link-box
            {
            font-size: 18px;
            line-height: 36px;
            color: $darkblue;
            font-weight: 400;
            }
        }
    }
}

.tutorial
{
    padding: 66px 0px 120px;
    background-color: #fff;

    .tutorial-box{
    display: flex;
    justify-content: center;
    align-items: center;

        .tutorial-item
        {
            width: 370px;
            height: 371px;
            background-color: #f8f8f8;
            margin: 0 15px;

            &-title
            {
                color: $darkblue;
                font-weight: 700;
                text-align: center;
                padding: 20px 0px;
            }

            &-image
            {
                width: 370px;
                height: 270px;
            }
        }
    }
    
}
